[submodule "tools/fsl-imx-uuc"]
	path = tools/fsl-imx-uuc
	url = https://github.com/mhei/fsl-imx-uuc.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/I2SE/u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/I2SE/linux.git
[submodule "imx-bootlets"]
	path = imx-bootlets
	url = https://github.com/I2SE/imx-bootlets.git
	ignore = dirty
[submodule "tools/elftosb"]
	path = tools/elftosb
	url = https://github.com/eewiki/elftosb.git
	ignore = dirty
