[Unit]
Description=Rauc Update Service

[Service]
Type=dbus
BusName=de.pengutronix.rauc
ExecStart=/usr/bin/rauc --mount=/run/rauc service
RuntimeDirectory=rauc
MountFlags=slave
