[Unit]
Description=RAUC Good-marking Service
ConditionKernelCommandLine=rauc.slot

[Service]
Type=oneshot
ExecStart=/usr/bin/rauc status mark-good

[Install]
WantedBy=multi-user.target
